---
import Mainlayout from '../layouts/Main.layout.astro'
import Footer from '../components/Footer.astro'
---
<Mainlayout>
    <h1>About me encerrado entre componente layout</h1>
    <Footer title="footer en aobut"/>
</Mainlayout>