---
import Plantilla from '../layouts/Main.layout.astro'

const res = await fetch('https://rickandmortyapi.com/api/character')
const data = await res.json()
const characters = data.results
console.log(data)
---

<Plantilla>
    <h1>Users</h1>
{
    characters.map(c => (
        <li>
            <h2>{c.name}</h2>
            <img src={c.image} class="image-profile" />
            </li>
    ))
}
</Plantilla>

<style>
.image-profile {
    border-radius: 50%;
}
</style>